<html>
  <head>
    <meta charset='utf-8' />
    <title>Nest upload</title>
  </head>
  <body>
    <input type='file' id='fileInput' />

    <script>
      const fileInput = document.getElementById('fileInput')
      fileInput.addEventListener('change', () => { const file =
      fileInput.files[0]; const formData = new FormData();
      formData.append('file', file); fetch('http://localhost:3000/upload', {
      method: 'POST', body: formData }) })
    </script>
  </body>
</html>